@charset "ISO-8859-1";

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Squada One', cursive;
        }
        

        section{
            
            height: 50vh;
            width: 50%;
            background-image: url(registro.jpg);
            background-size: cover;
            background-position: center;
        }
        .form-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 380px;
            padding: 50px 30px;
            border-radius: 20px;
            box-shadow:10px 10px 50px rgb(234, 253, 253);
        }
        
		 h1{
            color: #fffff4;
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 2rem;
        }
        
        h3 {
        	color: #a2775e;
            font-size: 1em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 2rem;
        }
        .control input{
            padding: 10px;
            font-size: 16px;
            display: block;
            width: 100%;
            color:#000;
            background: rgb(64, 0, 0)000;
            outline: none;
            border: none;
            margin: 1em 0;

        }         
        
        .control input[type="text"],
		.control input[type="password"]
		{
			margin: 0;
			border: none;
			border-bottom: 1px solid #000080;
			background: transparent;
			outline: none;
			height: 40px;
			color: #400000;
			font-size: 16px;
			
        }
        
        
	    .control .btn{
	            color: #fff;
	            text-transform: uppercase;
	            background: rgb(0, 115, 230);
	            opacity: .7;
	            transition:opacity .3s ease;
	            border-radius: 20px;
        }
        .btn:focus{
            opacity: 10;
        }
        p{
            text-align: left;
            color: #000080;
            
        }
        a{
            text-decoration: none;
            color: #fff;
            opacity: .7;
        }
        a:hover{
            opacity: 25;
        }

   